/* ====== Body (כל הדפים) ====== */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* ====== Titles ====== */
h1 {
    text-align: center;
    color: darkblue;
}

h2 {
    text-align: center;
    color: #333;
}

/* ====== Links ====== */
a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    font-size: 18px;
}

ul li {
    margin-bottom: 8px;
}

/* ====== Images ====== */
img {
    border: 2px solid #444;
    border-radius: 5px;
    margin: 5px;
}

/* ====== Center images in country pages ====== */
img+img {
    margin-left: 20px;
}

/* ====== Table (map on homepage) ====== */
table {
    border-collapse: collapse;
    margin: 0 auto;
    
}

td {
    text-align: center;
    padding: 0;
    background-color: white;
}


td {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    padding-bottom: 10px;
}


p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

table.main-map {
    background-color: #ffffff;      
    border: 3px solid #4a4a4a;       
    border-radius: 10px;              
    padding: 10px;                    
    box-shadow: 0 0 10px #777;       
}